
<style>

</style>
<template>

  <p> {{trigger_name}} Results!</p>

  <hr/>
    <p v-if="points < 3">You probably experience lots of stress, bouncing back and forth between Gamer attempts to keep your job and frustration with your staff.</p>
    <p v-else-if="points = 3">You likely do try to achieve results, but with a high degree of frustration common to the User style. You may try to be liked, but it generally doesn't work.</p>
    <div v-else-if="points = 4">
      <p v-if="numOfShadedAs > 1">You likely do try to achive results, but with a high degree of frustration common to the User style. You may try to be liked, but it generally doesen't work</p>
      <p v-else>You probably are a results-oriented manager with an opportunity to sustain your results as you connect with and invest in your people.</p>
    </div>
    <p v-else-if="points = 5">You have Winning Well management instincts that likely get buried in day-to-day stress and personal frustrations.</p>
    <div v-else-if="points = 6">
      <p v-if="numOfShadedAs > 2">You likely have Winning Well instincts and a focus on results</p> <!--On the PDF these will appear in reverse order. Made sence for logic. -->
      <p v-else>You may identify with the Pleaser style, putting lots of effort into being liked and reacting to one crisis after anouther with some focus on results.</p>
    </div>
    <p v-else-if="points = 7">You likely have Winning Well instincts and focus on relation-ships. </p>
    <p v-else-if="points = 8">You likely have strong Winning Well practices and may flex easily between results and relationships.</p>
    <p v-else-if="points > 9">You likely have strong Winning Well practices and emphasize relationships in your day-today work. </p>

</template>

<script>

  /**
   * @param object ctx a bag of goodies that holds parameters
   * like contact data, campaign points, etc.
   */
  ConveYourApp.create(function( ctx ){

    return {
      data : function(){
        return {
          trigger_name : ctx.trigger.name,
          finished : ctx.completion_state.finished
        }
      }
    }

  });
</script>
